
.subtitle
{
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    color:grey;
    text-align: center;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  filter: brightness(30%);
}

.content {
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  position: relative;
}