/*STYLESHEET PENTRU SIGN UP PAGE*/ 

#primul
{
  margin-left:1230px;
  background-color: #fff;
  color: #000F1A;
}

.join
{
  padding:7px;
  margin-right: 20px;
  margin-top: 7px;
  font-size: 18px;
  color: white;
  background-color: #4AC6C0;
  border-radius: 20px;
  width:110px;
  text-align: center;
  height:30px;
}

.navbar
{
  display: flex;
  flex-direction: row;
  background-color: #191919;
  padding-bottom:5px;
  padding-top: 5px;
  align-items: center;
}

a{
  text-decoration: none;
}

.nav
{
  padding: 7px;
  padding-right: 30px;
  margin-top: 7px;
  font-size: 18px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.xd
{
  color: grey;
  display: flex;
  align-content: center;
  flex-direction: row;
  text-align: center;
  font-size: 20px;
  padding:20px;
  margin:10px;
}


body{
    background: hsl(204 100% 5%);
    margin:0px;
    padding:0px;
}

.culori{
    text-align: center;
    display: flex;
  }
  .culoare
  {
    color: #ff0000;
    padding-right: 20px;
    font-size: 20px;;
  }
  
  .titl
  {
    font-size: 40px;
    text-align: center;
  }
  
  .subtitl
  {
    color:black;
    font-size:18px;
    text-align: left;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .butn
  {
    margin-top: 20px;
    height: 60px;
    width:100px;
    font-size:20px;
    
  }

  .titl
{
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    color:floralwhite;
    text-align: center;
}

.titl {
  background: linear-gradient(
    to right, 
    hsl(98 100% 62%), 
    hsl(204 100% 59%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

body {
  background: hsl(204 100% 5%);
}

.vid
{
  box-sizing: content-box;
  box-shadow: 0 2px 8px 0 #4F857F;
  transition: 0.3s;
  width: 900px;
  padding-right:15px;
  padding-left:15px;
  padding-top: 0px;
}

.vid
{
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 20px;
  margin-bottom:200px;
  background-color: lightgrey;
}

input
{
  font-size:20px;
  width:200px;
  border-radius: 10px;
  background-color: white;
  border:1px solid black;
}

.butn{
  background-color: white;
  border-radius: 20px;
  align-self: center;
  width:200px;
  margin-top:100px;
  border:1px solid black;
  margin-bottom: 30px;
}

h2{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-right:20px ;
  font-size: 10px;
}

body{
  background-color: black;
}