<!DOCTYPE html>
<html lang="en">

<head>
  <title>Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="navbar.css">
  <link rel="stylesheet" href="dashboard.css">
  <script src="https://kit.fontawesome.com/7bfb2ecd48.js" crossorigin="anonymous"></script>
</head>

<body>

  <div class="navbar">
    <div class="logo">
      <p>CodeStage</p>
    </div>
    <div class="center">
      <a href=/dashboard class="cent">dashboard</a>
      <a href=/profile class="cent">profile</a>
      <a href=/info class="cent">info</a>
      <a href=/support class="cent">support</a>
    </div>
    <div class="join">
      <a href=/signup class="signup" id="signup">Sign Up</a>
      <a href=/login class="login">Log In</a>
    </div>
  </div>
  <div class="sidebar">
    <div class="menu">
      <div class="icon">
        <i class="fa-solid fa-list hey"></i>
        <p class="section">Dashboard</p>
      </div>
      <div class="icon">
        <i class="fa-solid fa-folder hey"></i>
        <p class="section">Projects</p>
      </div>
      <div class="icon">
        <i class="fa-solid fa-calendar hey"></i>
        <p class="section">Calendar</p>
      </div>
      <div class="icon">
        <i class="fa-solid fa-clipboard-list hey"></i>
        <p class="section">All tasks</p>
      </div>
      <div class="icon">
        <i class="fa-solid fa-message hey"></i>
        <p class="section">Messages</p>
      </div>
    </div>
    <div class="groups">
      <p class="uwu">Groups</p>
      <div class="group">
        <i class="fa-solid fa-circle hey"></i>
        <p class="gr">CNME</p>
        <p class="nr">3 projects</p>
      </div>
      <div class="group">
        <i class="fa-solid fa-circle hey"></i>
        <p class="gr">COURSE</p>
        <p class="nr">5 projects</p>
      </div>
    </div>
    <div class="editor">
    <a  href=/editor class="btn"> Create New Project</a>
    </div>
  </div>
</body>

</html>