<!DOCTYPE html>
<html>
    <html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="signup.css">
    <link rel="stylesheet" href="navbar.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
</head>

<body>
  <div class="navbar">
    <div class="logo">
        <p>CodeStage</p>
    </div>
    <div class="center">
        <a href=/dashboard class="cent">dashboard</a>
        <a href=/profile class="cent">profile</a>
        <a href=/info class="cent">info</a>
        <a href=/support class="cent">support</a>
    </div>
    <div class="join">
        <a href=/signup class="signup" id="signup">Sign Up</a>
        <a href=/login class="login">Log In</a>
    </div>
</div>

<div class="box">
  <p class="titlu">Sign in your account</p>
    <p class="camp">username</p>
    <hr>
    <p class="camp">password</p>
    <hr>
    <Button class="butn">Login</Button>
    <p class="xd">Forgot password</p>
    <p class="xd lol">Sign up</p>
</div>
</body>
</html>