<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="stylesheet.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Codestage</title>
</head>

<body>
    


      <section class="hero is-black is-medium">
        <div class="hero-head">
          <nav class="navbar">
            <div class="container">
              <div class="navbar-brand">
                <a class="navbar-item bfg">
                    Codestage
                </a>
                <span class="navbar-burger" data-target="navbarMenuHeroB">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
              </div>
              <div id="navbarMenuHeroB" class="navbar-menu">
                <div class="navbar-end">
                <a class="navbar-item is-active" href=/>
                    Home
                  </a>
            
                  <a class="navbar-item"  href=/arduino>
                      Projects
                  </a>
            
                  <a class="navbar-item"  href=/editor>
                      Editor
                    </a>
      
                    <a class="navbar-item"  href=/arduino>
                      More about Arduino
                    </a>
      
                  <div class="navbar-item">
                    <div class="buttons">
                      <a class="button is-primary" href="/signup">
                        <strong>Sign up</strong>
                      </a>
                      <a class="button is-light" href="/login">
                        Log in
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      
        <div class="hero-body">
          <div class="container has-text-centered">
            <p class="title titlu">
                Code.Create.Progress.
            </p>
            <br>
            <p class="subtitle">
                Use our free, collaborative, in-browser IDE to code in C and C++ languages, expand your
                knowledge and simulate your own Arduino kit
            </p>
            <div class="vid">
                <video width="900px" height="700px" autoplay muted loop>
                    <source src="uwu.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
          </div>
        </div>
      
      </section>

      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Tweets</p>
            <p class="title">3,456</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Following</p>
            <p class="title">123</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Followers</p>
            <p class="title">456K</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Likes</p>
            <p class="title">789</p>
          </div>
        </div>
      </nav>


    <div id="grad1">
        <p class="features">Codestage features</p>
        <div class="beneficii">
            <div class="xd">
                <i class="fa-solid fa-child-reaching"></i>
                <br>
                <p class="ben">Perfect for all skill levels, from begginer to advanced, simple or complex circuits.</p>
            </div>
            <div class="xd">
                <i class="fa-solid fa-code-branch"></i>
                <br>
                <p class="ben">In-browser IDE
                    Start coding in the C language on any platform, OS, and device.</p>
            </div>
            <div class="xd">
                <i class="fa-solid fa-children"></i>
                <br>
                <p class="ben">Real-time collaboration
                    Invite your friends, teammates, and colleagues right into your code using our colaboration feature.
                </p>
            </div>
            <div class="xd">
                <i class="fa-solid fa-laptop-file"></i>
                <br>
                <p class="ben">Learn about Arduino Uno
                    Start exploring the world of open-source microcontrollers using our affordable subscriptions.</p>
            </div>
        </div>
    </div>

    <div class="pozica">
        <img src="./pozica.webp" width="500" height="500" class="foto">
        <div class="textulet">
            <p class="glow">Code right in your browser.</p>
            <p>Collaborative, 0 setup, and Embeddable.<br>
                Codestage is the best tool for quickly starting,<br>
                sharing, and developing Arduino projects<br>
                in C, right from your browser.
            </p>
        </div>
    </div>

    <div class="pozica">
        <div class="textulet">
            <p class="glow"> Code together.</p>
            <p>Jump right in. Enjoy a Google Docs-like editing<br> experience, where you 
            can see your<br> collaborators’ cursors.
            </p>
        </div>
        <img src="./colab.jpg" width="500" height="500" class="foto">
    </div>
    <div class="pozica">
        <img src="./collaboration.png" width="500" height="500" class="foto">
        <div class="textulet">
            <p class="glow"> Talk, learn, collab.</p>
            <p>Help is just a click away. <br>
                Instantly get help from a community of<br>
                 millions of other programmers and learners.
            </p>
        </div>
    </div>
</body>
<script src="https://kit.fontawesome.com/04685cd90d.js" crossorigin="anonymous"></script>

</html>