<!DOCTYPE html>
<html>
    <html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="stylesheet3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codestage</title>
</head>

<body>
    <div class="navbar">
        <a href=/ class="nav">Home</a>
        <a href=/arduino class="nav">More about Arduino</a>
        <a class="nav">Projects</a>
        <a href=/editor class="nav">Editor</a>
        <a href="/login" class="join" id="primul">Log in</a>
        <a href="/signup" class="join">Sign up</a>
    </div>
<h1 class="titl">Create your own Codestage account</h1>
<div class="vid">
    <h1 class="subtitl">Username:</h1>
    <input type="text" class="signup">
    <h1 class="subtitl">Email:</h1>
    <input  type="text" class="signup">
    <h1 class="subtitl">Password:</h1>
    <div class="culori">
        <h2 id="1" class="culoare">at least 5 characters</h2>
        <h2 id="2" class="culoare">lowercase letters</h2>
        <h2 id="3" class="culoare">capital letters</h2>
        <h2 id="4" class="culoare">numbers</h2>
    </div>
    <input id="inp" type="text" class="signup">
    <Button class="butn">Sign up now</Button>
</div>
<script src="signup.js"></script> 
</body>
</html>